Back_Front/Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServiciosWS/JugadorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.rrhh.lagstore.com.edu.pe/" targetNamespace="http://ws.rrhh.lagstore.com.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarJugador" type="tns:eliminarJugador" />
  <xs:element name="eliminarJugadorResponse" type="tns:eliminarJugadorResponse" />
  <xs:element name="insertarJugador" type="tns:insertarJugador" />
  <xs:element name="insertarJugadorResponse" type="tns:insertarJugadorResponse" />
  <xs:element name="listarTodosJugadores" type="tns:listarTodosJugadores" />
  <xs:element name="listarTodosJugadoresResponse" type="tns:listarTodosJugadoresResponse" />
  <xs:element name="modificarJugador" type="tns:modificarJugador" />
  <xs:element name="modificarJugadorResponse" type="tns:modificarJugadorResponse" />
  <xs:element name="obtenerJugadorPorID" type="tns:obtenerJugadorPorID" />
  <xs:element name="obtenerJugadorPorIDResponse" type="tns:obtenerJugadorPorIDResponse" />
  <xs:complexType name="listarTodosJugadores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosJugadoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jugador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="calificaciones" nillable="true" type="tns:calificacion" />
          <xs:element minOccurs="0" name="carroCompra" type="tns:carroCompra" />
          <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
          <xs:element name="idJugador" type="xs:int" />
          <xs:element minOccurs="0" name="nickname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="resenas" nillable="true" type="tns:resena" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoDePerfil" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calificacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="autor" type="tns:jugador" />
      <xs:element minOccurs="0" name="fechaPuntuacion" type="xs:dateTime" />
      <xs:element name="idCalificacion" type="xs:int" />
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
      <xs:element name="puntuacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juego">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="desarrollador" type="tns:desarrollador" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="espacioDisco" type="xs:double" />
      <xs:element minOccurs="0" name="fechaLanzamiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaUltimaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element name="idJuego" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:string" />
      <xs:element minOccurs="0" name="modeloNegocio" type="tns:modeloNegocio" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="requisitosMinimos" type="xs:string" />
      <xs:element minOccurs="0" name="requisitosRecomendados" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element name="version" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desarrollador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="idDesarrollador" type="xs:int" />
          <xs:element name="ingresoTotal" type="xs:double" />
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="carroCompra">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="idCarroCompra" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="juegos" nillable="true" type="tns:juego" />
      <xs:element minOccurs="0" name="jugador" type="tns:jugador" />
      <xs:element name="totalEstimado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartera">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="historial" nillable="true" type="tns:recarga" />
      <xs:element name="idCartera" type="xs:int" />
      <xs:element minOccurs="0" name="jugador" type="tns:jugador" />
      <xs:element name="saldoActual" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recarga">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
      <xs:element minOccurs="0" name="fechaRecarga" type="xs:dateTime" />
      <xs:element name="idRecarga" type="xs:int" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resena">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="autor" type="tns:jugador" />
      <xs:element minOccurs="0" name="calificacion" type="tns:calificacion" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element name="idResena" type="xs:int" />
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerJugadorPorID">
    <xs:sequence>
      <xs:element name="idJugador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerJugadorPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarJugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="jugador" type="tns:jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarJugadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarJugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="jugador" type="tns:jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarJugadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarJugador">
    <xs:sequence>
      <xs:element name="idJugador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarJugadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accion" />
      <xs:enumeration value="Rol" />
      <xs:enumeration value="Estrategia" />
      <xs:enumeration value="Shooter" />
      <xs:enumeration value="Simulación" />
      <xs:enumeration value="Deportes" />
      <xs:enumeration value="Carreras" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="modeloNegocio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Free_to_play" />
      <xs:enumeration value="Paga" />
      <xs:enumeration value="Suscripcion" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="metodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visa" />
      <xs:enumeration value="Mastercard" />
      <xs:enumeration value="PagoEfectivo" />
      <xs:enumeration value="PayValido" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>