Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/BibliotecaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarBiblioteca" type="tns:eliminarBiblioteca" />
  <xs:element name="eliminarBibliotecaResponse" type="tns:eliminarBibliotecaResponse" />
  <xs:element name="insertarBiblioteca" type="tns:insertarBiblioteca" />
  <xs:element name="insertarBibliotecaResponse" type="tns:insertarBibliotecaResponse" />
  <xs:element name="modificarBiblioteca" type="tns:modificarBiblioteca" />
  <xs:element name="modificarBibliotecaResponse" type="tns:modificarBibliotecaResponse" />
  <xs:element name="obtenerBibliotecaPorId" type="tns:obtenerBibliotecaPorId" />
  <xs:element name="obtenerBibliotecaPorIdResponse" type="tns:obtenerBibliotecaPorIdResponse" />
  <xs:element name="obtenerBibliotecaPorUsuario" type="tns:obtenerBibliotecaPorUsuario" />
  <xs:element name="obtenerBibliotecaPorUsuarioResponse" type="tns:obtenerBibliotecaPorUsuarioResponse" />
  <xs:complexType name="insertarBiblioteca">
    <xs:sequence>
      <xs:element minOccurs="0" name="biblioteca" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidadDeJuegos" type="xs:int" />
      <xs:element name="idBiblioteca" type="xs:int" />
      <xs:element name="ingresoTotal" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="juegos" nillable="true" type="tns:juegoAdquirido" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juegoAdquirido">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="actualizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="biblioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="fechaAdquisicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
      <xs:element name="tiempoJuego" type="xs:double" />
      <xs:element minOccurs="0" name="ultimaSesion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juego">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="desarrollador" type="tns:desarrollador" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="espacioDisco" type="xs:double" />
      <xs:element minOccurs="0" name="fechaLanzamiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaUltimaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="genero" type="tns:Genero" />
      <xs:element name="idJuego" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:string" />
      <xs:element minOccurs="0" name="modeloNegocio" type="tns:ModeloNegocio" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="requisitosMinimos" type="xs:string" />
      <xs:element minOccurs="0" name="requisitosRecomendados" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element name="version" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desarrollador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="idDesarrollador" type="xs:int" />
          <xs:element name="ingresoTotal" type="xs:double" />
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoDePerfil" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rolUsuario" type="tns:rol" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBibliotecaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerBibliotecaPorId">
    <xs:sequence>
      <xs:element name="idBiblioteca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerBibliotecaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBiblioteca">
    <xs:sequence>
      <xs:element name="idBiblioteca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBibliotecaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerBibliotecaPorUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerBibliotecaPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarBiblioteca">
    <xs:sequence>
      <xs:element minOccurs="0" name="biblioteca" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarBibliotecaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jugador" />
      <xs:enumeration value="Administrador" />
      <xs:enumeration value="Desarrollador" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accion" />
      <xs:enumeration value="Rol" />
      <xs:enumeration value="Estrategia" />
      <xs:enumeration value="Shooter" />
      <xs:enumeration value="Simulacion" />
      <xs:enumeration value="Deportes" />
      <xs:enumeration value="Carreras" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ModeloNegocio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Free_to_play" />
      <xs:enumeration value="Paga" />
      <xs:enumeration value="Suscripcion" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>