Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/BibliotecaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BibliotecaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LagStoreWSL/BibliotecaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="modificarBiblioteca">
    <part name="parameters" element="tns:modificarBiblioteca" />
  </message>
  <message name="modificarBibliotecaResponse">
    <part name="parameters" element="tns:modificarBibliotecaResponse" />
  </message>
  <message name="obtenerBibliotecaPorId">
    <part name="parameters" element="tns:obtenerBibliotecaPorId" />
  </message>
  <message name="obtenerBibliotecaPorIdResponse">
    <part name="parameters" element="tns:obtenerBibliotecaPorIdResponse" />
  </message>
  <message name="insertarBiblioteca">
    <part name="parameters" element="tns:insertarBiblioteca" />
  </message>
  <message name="insertarBibliotecaResponse">
    <part name="parameters" element="tns:insertarBibliotecaResponse" />
  </message>
  <message name="eliminarBiblioteca">
    <part name="parameters" element="tns:eliminarBiblioteca" />
  </message>
  <message name="eliminarBibliotecaResponse">
    <part name="parameters" element="tns:eliminarBibliotecaResponse" />
  </message>
  <portType name="BibliotecaWS">
    <operation name="modificarBiblioteca">
      <input wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/modificarBibliotecaRequest" message="tns:modificarBiblioteca" />
      <output wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/modificarBibliotecaResponse" message="tns:modificarBibliotecaResponse" />
    </operation>
    <operation name="obtenerBibliotecaPorId">
      <input wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/obtenerBibliotecaPorIdRequest" message="tns:obtenerBibliotecaPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/obtenerBibliotecaPorIdResponse" message="tns:obtenerBibliotecaPorIdResponse" />
    </operation>
    <operation name="insertarBiblioteca">
      <input wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/insertarBibliotecaRequest" message="tns:insertarBiblioteca" />
      <output wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/insertarBibliotecaResponse" message="tns:insertarBibliotecaResponse" />
    </operation>
    <operation name="eliminarBiblioteca">
      <input wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/eliminarBibliotecaRequest" message="tns:eliminarBiblioteca" />
      <output wsam:Action="http://services.pucp.edu.pe/BibliotecaWS/eliminarBibliotecaResponse" message="tns:eliminarBibliotecaResponse" />
    </operation>
  </portType>
  <binding name="BibliotecaWSPortBinding" type="tns:BibliotecaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerBibliotecaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BibliotecaWS">
    <port name="BibliotecaWSPort" binding="tns:BibliotecaWSPortBinding">
      <soap:address location="http://localhost:8080/LagStoreWSL/BibliotecaWS" />
    </port>
  </service>
</definitions>