Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/CalificacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CalificacionWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LagStoreWSL/CalificacionWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerCalificacionPorId">
    <part name="parameters" element="tns:obtenerCalificacionPorId" />
  </message>
  <message name="obtenerCalificacionPorIdResponse">
    <part name="parameters" element="tns:obtenerCalificacionPorIdResponse" />
  </message>
  <message name="eliminarCalificacion">
    <part name="parameters" element="tns:eliminarCalificacion" />
  </message>
  <message name="eliminarCalificacionResponse">
    <part name="parameters" element="tns:eliminarCalificacionResponse" />
  </message>
  <message name="modificarCalificacion">
    <part name="parameters" element="tns:modificarCalificacion" />
  </message>
  <message name="modificarCalificacionResponse">
    <part name="parameters" element="tns:modificarCalificacionResponse" />
  </message>
  <message name="insertarCalificacion">
    <part name="parameters" element="tns:insertarCalificacion" />
  </message>
  <message name="insertarCalificacionResponse">
    <part name="parameters" element="tns:insertarCalificacionResponse" />
  </message>
  <portType name="CalificacionWS">
    <operation name="obtenerCalificacionPorId">
      <input wsam:Action="http://services.pucp.edu.pe/CalificacionWS/obtenerCalificacionPorIdRequest" message="tns:obtenerCalificacionPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/CalificacionWS/obtenerCalificacionPorIdResponse" message="tns:obtenerCalificacionPorIdResponse" />
    </operation>
    <operation name="eliminarCalificacion">
      <input wsam:Action="http://services.pucp.edu.pe/CalificacionWS/eliminarCalificacionRequest" message="tns:eliminarCalificacion" />
      <output wsam:Action="http://services.pucp.edu.pe/CalificacionWS/eliminarCalificacionResponse" message="tns:eliminarCalificacionResponse" />
    </operation>
    <operation name="modificarCalificacion">
      <input wsam:Action="http://services.pucp.edu.pe/CalificacionWS/modificarCalificacionRequest" message="tns:modificarCalificacion" />
      <output wsam:Action="http://services.pucp.edu.pe/CalificacionWS/modificarCalificacionResponse" message="tns:modificarCalificacionResponse" />
    </operation>
    <operation name="insertarCalificacion">
      <input wsam:Action="http://services.pucp.edu.pe/CalificacionWS/insertarCalificacionRequest" message="tns:insertarCalificacion" />
      <output wsam:Action="http://services.pucp.edu.pe/CalificacionWS/insertarCalificacionResponse" message="tns:insertarCalificacionResponse" />
    </operation>
  </portType>
  <binding name="CalificacionWSPortBinding" type="tns:CalificacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerCalificacionPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCalificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCalificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCalificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CalificacionWS">
    <port name="CalificacionWSPort" binding="tns:CalificacionWSPortBinding">
      <soap:address location="http://localhost:8080/LagStoreWSL/CalificacionWS" />
    </port>
  </service>
</definitions>