Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/JuegoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="JuegoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LagStoreWSL/JuegoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarJuegosConFiltro">
    <part name="parameters" element="tns:listarJuegosConFiltro" />
  </message>
  <message name="listarJuegosConFiltroResponse">
    <part name="parameters" element="tns:listarJuegosConFiltroResponse" />
  </message>
  <message name="insertarJuego">
    <part name="parameters" element="tns:insertarJuego" />
  </message>
  <message name="insertarJuegoResponse">
    <part name="parameters" element="tns:insertarJuegoResponse" />
  </message>
  <message name="obtenerJuegoPorId">
    <part name="parameters" element="tns:obtenerJuegoPorId" />
  </message>
  <message name="obtenerJuegoPorIdResponse">
    <part name="parameters" element="tns:obtenerJuegoPorIdResponse" />
  </message>
  <message name="listarJuegos">
    <part name="parameters" element="tns:listarJuegos" />
  </message>
  <message name="listarJuegosResponse">
    <part name="parameters" element="tns:listarJuegosResponse" />
  </message>
  <portType name="JuegoWS">
    <operation name="listarJuegosConFiltro">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoWS/listarJuegosConFiltroRequest" message="tns:listarJuegosConFiltro" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoWS/listarJuegosConFiltroResponse" message="tns:listarJuegosConFiltroResponse" />
    </operation>
    <operation name="insertarJuego">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoWS/insertarJuegoRequest" message="tns:insertarJuego" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoWS/insertarJuegoResponse" message="tns:insertarJuegoResponse" />
    </operation>
    <operation name="obtenerJuegoPorId">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoWS/obtenerJuegoPorIdRequest" message="tns:obtenerJuegoPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoWS/obtenerJuegoPorIdResponse" message="tns:obtenerJuegoPorIdResponse" />
    </operation>
    <operation name="listarJuegos">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoWS/listarJuegosRequest" message="tns:listarJuegos" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoWS/listarJuegosResponse" message="tns:listarJuegosResponse" />
    </operation>
  </portType>
  <binding name="JuegoWSPortBinding" type="tns:JuegoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarJuegosConFiltro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerJuegoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarJuegos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="JuegoWS">
    <port name="JuegoWSPort" binding="tns:JuegoWSPortBinding">
      <soap:address location="http://localhost:8080/LagStoreWSL/JuegoWS" />
    </port>
  </service>
</definitions>