Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/JuegoAdquiridoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="JuegoAdquiridoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LagStoreWSL/JuegoAdquiridoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarJuegosAdquiridosPorBiblioteca">
    <part name="parameters" element="tns:listarJuegosAdquiridosPorBiblioteca" />
  </message>
  <message name="listarJuegosAdquiridosPorBibliotecaResponse">
    <part name="parameters" element="tns:listarJuegosAdquiridosPorBibliotecaResponse" />
  </message>
  <message name="obtenerJuegoAdquiridoPorBibliotecaYJuego">
    <part name="parameters" element="tns:obtenerJuegoAdquiridoPorBibliotecaYJuego" />
  </message>
  <message name="obtenerJuegoAdquiridoPorBibliotecaYJuegoResponse">
    <part name="parameters" element="tns:obtenerJuegoAdquiridoPorBibliotecaYJuegoResponse" />
  </message>
  <message name="modificarJuegoAdquirido">
    <part name="parameters" element="tns:modificarJuegoAdquirido" />
  </message>
  <message name="modificarJuegoAdquiridoResponse">
    <part name="parameters" element="tns:modificarJuegoAdquiridoResponse" />
  </message>
  <message name="eliminarJuegoAdquirido">
    <part name="parameters" element="tns:eliminarJuegoAdquirido" />
  </message>
  <message name="eliminarJuegoAdquiridoResponse">
    <part name="parameters" element="tns:eliminarJuegoAdquiridoResponse" />
  </message>
  <message name="obtenerJuegoAdquiridoPorId">
    <part name="parameters" element="tns:obtenerJuegoAdquiridoPorId" />
  </message>
  <message name="obtenerJuegoAdquiridoPorIdResponse">
    <part name="parameters" element="tns:obtenerJuegoAdquiridoPorIdResponse" />
  </message>
  <message name="insertarJuegoAdquirido">
    <part name="parameters" element="tns:insertarJuegoAdquirido" />
  </message>
  <message name="insertarJuegoAdquiridoResponse">
    <part name="parameters" element="tns:insertarJuegoAdquiridoResponse" />
  </message>
  <portType name="JuegoAdquiridoWS">
    <operation name="listarJuegosAdquiridosPorBiblioteca">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/listarJuegosAdquiridosPorBibliotecaRequest" message="tns:listarJuegosAdquiridosPorBiblioteca" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/listarJuegosAdquiridosPorBibliotecaResponse" message="tns:listarJuegosAdquiridosPorBibliotecaResponse" />
    </operation>
    <operation name="obtenerJuegoAdquiridoPorBibliotecaYJuego">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/obtenerJuegoAdquiridoPorBibliotecaYJuegoRequest" message="tns:obtenerJuegoAdquiridoPorBibliotecaYJuego" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/obtenerJuegoAdquiridoPorBibliotecaYJuegoResponse" message="tns:obtenerJuegoAdquiridoPorBibliotecaYJuegoResponse" />
    </operation>
    <operation name="modificarJuegoAdquirido">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/modificarJuegoAdquiridoRequest" message="tns:modificarJuegoAdquirido" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/modificarJuegoAdquiridoResponse" message="tns:modificarJuegoAdquiridoResponse" />
    </operation>
    <operation name="eliminarJuegoAdquirido">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/eliminarJuegoAdquiridoRequest" message="tns:eliminarJuegoAdquirido" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/eliminarJuegoAdquiridoResponse" message="tns:eliminarJuegoAdquiridoResponse" />
    </operation>
    <operation name="obtenerJuegoAdquiridoPorId">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/obtenerJuegoAdquiridoPorIdRequest" message="tns:obtenerJuegoAdquiridoPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/obtenerJuegoAdquiridoPorIdResponse" message="tns:obtenerJuegoAdquiridoPorIdResponse" />
    </operation>
    <operation name="insertarJuegoAdquirido">
      <input wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/insertarJuegoAdquiridoRequest" message="tns:insertarJuegoAdquirido" />
      <output wsam:Action="http://services.pucp.edu.pe/JuegoAdquiridoWS/insertarJuegoAdquiridoResponse" message="tns:insertarJuegoAdquiridoResponse" />
    </operation>
  </portType>
  <binding name="JuegoAdquiridoWSPortBinding" type="tns:JuegoAdquiridoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarJuegosAdquiridosPorBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerJuegoAdquiridoPorBibliotecaYJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarJuegoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarJuegoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerJuegoAdquiridoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarJuegoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="JuegoAdquiridoWS">
    <port name="JuegoAdquiridoWSPort" binding="tns:JuegoAdquiridoWSPortBinding">
      <soap:address location="http://localhost:8080/LagStoreWSL/JuegoAdquiridoWS" />
    </port>
  </service>
</definitions>