Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/RecargaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RecargaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LagStoreWSL/RecargaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerRecargaPorId">
    <part name="parameters" element="tns:obtenerRecargaPorId" />
  </message>
  <message name="obtenerRecargaPorIdResponse">
    <part name="parameters" element="tns:obtenerRecargaPorIdResponse" />
  </message>
  <message name="listarRecargasAsociadas">
    <part name="parameters" element="tns:listarRecargasAsociadas" />
  </message>
  <message name="listarRecargasAsociadasResponse">
    <part name="parameters" element="tns:listarRecargasAsociadasResponse" />
  </message>
  <message name="insertarRecarga">
    <part name="parameters" element="tns:insertarRecarga" />
  </message>
  <message name="insertarRecargaResponse">
    <part name="parameters" element="tns:insertarRecargaResponse" />
  </message>
  <portType name="RecargaWS">
    <operation name="obtenerRecargaPorId">
      <input wsam:Action="http://services.pucp.edu.pe/RecargaWS/obtenerRecargaPorIdRequest" message="tns:obtenerRecargaPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/RecargaWS/obtenerRecargaPorIdResponse" message="tns:obtenerRecargaPorIdResponse" />
    </operation>
    <operation name="listarRecargasAsociadas">
      <input wsam:Action="http://services.pucp.edu.pe/RecargaWS/listarRecargasAsociadasRequest" message="tns:listarRecargasAsociadas" />
      <output wsam:Action="http://services.pucp.edu.pe/RecargaWS/listarRecargasAsociadasResponse" message="tns:listarRecargasAsociadasResponse" />
    </operation>
    <operation name="insertarRecarga">
      <input wsam:Action="http://services.pucp.edu.pe/RecargaWS/insertarRecargaRequest" message="tns:insertarRecarga" />
      <output wsam:Action="http://services.pucp.edu.pe/RecargaWS/insertarRecargaResponse" message="tns:insertarRecargaResponse" />
    </operation>
  </portType>
  <binding name="RecargaWSPortBinding" type="tns:RecargaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerRecargaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRecargasAsociadas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarRecarga">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RecargaWS">
    <port name="RecargaWSPort" binding="tns:RecargaWSPortBinding">
      <soap:address location="http://localhost:8080/LagStoreWSL/RecargaWS" />
    </port>
  </service>
</definitions>