Frontend/LagStoreSolucion/LagStoreSolucion/LagStoreWA/Connected Services/ServicesWS/ResenaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ResenaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LagStoreWSL/ResenaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerResenaPorId">
    <part name="parameters" element="tns:obtenerResenaPorId" />
  </message>
  <message name="obtenerResenaPorIdResponse">
    <part name="parameters" element="tns:obtenerResenaPorIdResponse" />
  </message>
  <message name="modificarResena">
    <part name="parameters" element="tns:modificarResena" />
  </message>
  <message name="modificarResenaResponse">
    <part name="parameters" element="tns:modificarResenaResponse" />
  </message>
  <message name="eliminarResena">
    <part name="parameters" element="tns:eliminarResena" />
  </message>
  <message name="eliminarResenaResponse">
    <part name="parameters" element="tns:eliminarResenaResponse" />
  </message>
  <message name="insertarResena">
    <part name="parameters" element="tns:insertarResena" />
  </message>
  <message name="insertarResenaResponse">
    <part name="parameters" element="tns:insertarResenaResponse" />
  </message>
  <portType name="ResenaWS">
    <operation name="obtenerResenaPorId">
      <input wsam:Action="http://services.pucp.edu.pe/ResenaWS/obtenerResenaPorIdRequest" message="tns:obtenerResenaPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/ResenaWS/obtenerResenaPorIdResponse" message="tns:obtenerResenaPorIdResponse" />
    </operation>
    <operation name="modificarResena">
      <input wsam:Action="http://services.pucp.edu.pe/ResenaWS/modificarResenaRequest" message="tns:modificarResena" />
      <output wsam:Action="http://services.pucp.edu.pe/ResenaWS/modificarResenaResponse" message="tns:modificarResenaResponse" />
    </operation>
    <operation name="eliminarResena">
      <input wsam:Action="http://services.pucp.edu.pe/ResenaWS/eliminarResenaRequest" message="tns:eliminarResena" />
      <output wsam:Action="http://services.pucp.edu.pe/ResenaWS/eliminarResenaResponse" message="tns:eliminarResenaResponse" />
    </operation>
    <operation name="insertarResena">
      <input wsam:Action="http://services.pucp.edu.pe/ResenaWS/insertarResenaRequest" message="tns:insertarResena" />
      <output wsam:Action="http://services.pucp.edu.pe/ResenaWS/insertarResenaResponse" message="tns:insertarResenaResponse" />
    </operation>
  </portType>
  <binding name="ResenaWSPortBinding" type="tns:ResenaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerResenaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarResena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarResena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarResena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ResenaWS">
    <port name="ResenaWSPort" binding="tns:ResenaWSPortBinding">
      <soap:address location="http://localhost:8080/LagStoreWSL/ResenaWS" />
    </port>
  </service>
</definitions>